name: automate_packages_integration
description: "A Flutter project that helps automate the integration of various Flutter packages such as Google Maps, Firebase, and more, into your Android, iOS, and Web projects. It allows users to quickly add dependencies and configure the necessary platform settings for seamless integration."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 1.0.0+1

environment:
  sdk: ^3.6.0

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.8
  google_maps_flutter: ^2.12.1
  flutter_bloc: ^9.1.0
  file_picker: ^10.0.0
  path_provider: ^2.1.5
  flutter_dotenv: ^5.2.1
  equatable: ^2.0.7

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:

  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
    # - assets/.env.development
    # - assets/.env.production
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
